.main-content
  %h1 Listing tours
  
  = render 'tours/list', tour_path_method: "manage_tour_path"

  = link_to 'New Tour', new_manage_tour_path

  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_resort_gallery'
    .clear