-content_for :for_head do
  %title Amigos do Zona Radical
  %meta{:name => "description",
    :content => "A lista dos amigos do Zona Radical"}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos amigos do Zona Radical"}
  %meta{:property=>"og:title", :content => "Amigos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1 Amigos e links úteis
  .introtext
    %p
      Aqui vem a lista dos nosso amigos e alguns links úteis.
  .heading
    %h2 Blogs Turisticos e Radicais
  %ol.announcement-list
    %li
      %p.title
        Viajando Sem Medo
      %i.date
        %b
          =link_to "www.viajandosemmedo.com","http://www.viajandosemmedo.com/",:target => 'blank'
      %p
        As dicas para quem quer viajar sem medo!
    %li
      %p.title
        Encontro Dos Radicais
      %i.date
        %b
          =link_to "encontrodosradicais.blogspot.com.br ","http://encontrodosradicais.blogspot.com.br/",:target => 'blank'
      %p
        Um blog historico juntando todo tipo de informação sobre os esportes radicais.
    %li
      %p.title
        Ordinary People Adventures
      %i.date
        %b
          =link_to "www.ordinarypeopleadventures.com","http://www.ordinarypeopleadventures.com/",:target => 'blank'
      %p
        Canal sobre viagens de aventuras de pessoas comuns.
  .heading
    %h2 Sociedades sob a prancha
  %ol.announcement-list
    %li
      %p.title
        Movimento BMF
      %i.date
        %b
          WWW:
          =link_to "bmfmovement.com","http://bmfmovement.com/",:target => 'blank'
          IN:
          =link_to "instagram.com/bmfmovement","http://instagram.com/bmfmovement",:target => 'blank'
          FB:
          =link_to "BMF crew","https://www.facebook.com/BMFmovement",:target => 'blank'
      %p
        Movimento internacional dos esportes radicas, primeiramente sob a prancha. Precursores do Freebord no Brasil.
    %li
      %p.title
        Board Girls
      %i.date
        %b
          =link_to "www.girlsonboard.com.br","http://www.girlsonboard.com.br/",:target => 'blank'
      %p
        Um blog das meninas sob a prancha, como o título sugere.
    %li
      %p.title
        Freebord Brasil
      %i.date
        %b
          =link_to "www.facebook.com/freebord.brasil","https://www.facebook.com/freebord.brasil",:target => 'blank'
      %p
        A comunadade sobre seis rodas.
    %li
      %p.title
        Caipirinha Snowboard
      %i.date
        %b
          =link_to "www.facebook.com/caipirinhasnowboard","https://www.facebook.com/caipirinhasnowboard",:target => 'blank'
      %p
        Uma comunidade dedicada a Freestyle Snowboarding, produção e divulgação de videos e fotos.
  .heading
  .introtext
    %p
      Quer aparecer aqui? É só escrever pra gente
      =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br",:target => 'blank'

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear
