-content_for :for_head do
  %title Amigos do Zona Radical
  %meta{:name => "description",
    :content => "A lista dos amigos do Zona Radical"}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos amigos do Zona Radical"}
  %meta{:property=>"og:title", :content => "Amigos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1 Amigos e links úteis
  .introtext
    %p
      Aqui vem a lista dos nosso amigos e alguns links úteis.
      %br
      Quer aparecer aqui? É só escrever pra gente
      =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br",:target => 'blank'
  .heading
    %h2 Blogs Turisticos e Radicais
  %ol.announcement-list
    %li
      %p.title
        Viajando Sem Medo
      %i.date
        %b
          =link_to "http://www.viajandosemmedo.com/","http://www.viajandosemmedo.com/"
      %p
        As dicas para quem quer viajar sem medo!
    %li
      %p.title
        Board Girls
      %i.date
        %b
          =link_to "http://www.girlsonboard.com.br/","http://www.girlsonboard.com.br/"
      %p
        Um blog das meninas na prancha, como o título sugere.
    %li
      %p.title
        Encontro Dos Radicais
      %i.date
        %b
          =link_to "http://encontrodosradicais.blogspot.com.br/ ","http://encontrodosradicais.blogspot.com.br/ "
      %p
        Um blog historico juntando todo tipo de informação sobre os esportes radicais.
    %li
      %p.title
        Ordinary People Adventures
      %i.date
        %b
          =link_to "http://www.ordinarypeopleadventures.com/","http://www.ordinarypeopleadventures.com/"
      %p
        Canal sobre viagens de aventuras de pessoas comuns.


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear
