-content_for :for_head do
  %title A Galera e Contatos do Zona Radical
  %meta{:name => "description",
    :content => "A historia curta do Zona Radical"}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "A historia curta e contatos do Zona Radical"}
  %meta{:property=>"og:title", :content => "A Galera e Contatos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1 Galera ZR
  .introtext
    %p
      A ideia deste site nasceu nas pistas de chile onde se encontraram um brasileiro, que foi virar snowbordista e
      um russo, que virou um brasileiro. A eles juntaram os profissionais tanto na parte técnica de criação de sites,
      quanto os riders e snowbordistas.
    %p
      Nos não vendemos nada em nosso site, sim tentamos juntar o máximo possível das informações diferentes sobre snowboarding,
      estações em redor do mundo, organizações, eventos, atletas, etc., etc., etc.
    %p
      Por favor, não considere este site como algo fixo, parado. Nos estamos se mudando todo dia, e
      acima de tudo apreciamos suas sugestões, comentários e propostas.
  .heading
    %h1
      Contatos
  %p
    Nos procuramos colaboração em todas as areas conectadas a snowboarding, e a criação e desenvolvimento do site.
    Por favor, nos escreve com qualquer idéia louca, que juntos tentaremos realizar-lá!
  %p
    %b Questões gerais:
    %a{:href => "mailto:info@zonaradical.com.br", :target=>'blank'} info(a)zonaradical.com.br
  %p
    %b Divulgação e marketing: Caio,
    %a{:href => "mailto:caio@zonaradical.com.br", :target=>'blank'} caio(a)zonaradical.com.br
  %p
    %b Programação/questões tecnicas: Nikita,
    %a{:href => "mailto:nzonov@gmail.com", :target=>'blank'} nzonov(a)gmail.com
  %p
    %b Colaboração: Ignat,
    %a{:href => "mailto:ifialk@gmail.com", :target=>'blank'} ifialk@gmail.com

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear
