.main-content
  .heading
    %h5 Galera ZR
  .introtext
    %p
      A ideia deste site nasceu nas pistas de chile onde se encontraram um brasileiro, que foi virar snowbordista e
      um russo, que virou um brasileiro. A eles juntaram os profissionais tanto na parte técnica de criação de sites,
      quanto os riders e snowbordistas.
    %p
      Nos não vendemos nada em nosso site, sim tentamos juntar o máximo possível das informações diferentes sobre snowboarding,
      estações em redor do mundo, organizações, eventos, atletas, etc., etc., etc.
    %p
      Por favor, não considere este site como algo fixo, parado. Nos estamos se mudando todo dia, e
      acima de tudo apreciamos suas sugestões, comentários e propostas.
    %p
      Nos procuramos colaboração em todas as areas conectadas a snowboarding, e a criacao e desenvolvimento de site.
      Por favor, nos escreve com qq ideia louca, que juntos tentaremos realizar-la!
      %a{:href => "mailto:info@zonaradical.com.br"} info@zonaradical.com.br
%aside
  =render 'shared/aside/aside_social_buttons'
  =render 'shared/aside/aside_advert'
  =render 'shared/aside/aside_fb_like_box'
.clear