%li
  %gallery
    %h3
      =link_to image_gallery.title, polymorphic_path([image_gallery.image_gallerable, image_gallery])
    %i.extra-info
      =distance_of_time_in_words_to_now image_gallery.updated_at
      = t('ago')
      ='/ 0 Comentários / Marcações:  Snowboard, Viagem, Montanhas'
    -unless image_gallery.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: image_gallery.gallery_images.all
  = render 'image_gallery_actions', image_gallery: image_gallery
.clear