%li
  %gallery
    %h3
      =link_to image_gallery.title, polymorphic_path([image_gallery.image_gallerable, image_gallery])
    %i.extra-info
      =distance_of_time_in_words_to_now image_gallery.updated_at
      = t('ago')
      ='/ 0 Comentários / Marcações:  Snowboard, Viagem, Montanhas'
    -unless image_gallery.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: image_gallery.gallery_images.all
  -if can? :update, image_gallery
    = link_to 'Edit', edit_polymorphic_path([image_gallery.image_gallerable, image_gallery])
  -if can? :delete, image_gallery
    = link_to 'Destroy', polymorphic_path([image_gallery.image_gallerable, image_gallery]), method: :delete, data: { confirm: 'Are you sure?' }
.clear