%li
  %h3=link_to image_gallery.title, image_gallery_path(image_gallery)
  -unless image_gallery.gallery_images.all.count.zero?
    =render 'shared/sliders/tip', images: image_gallery.gallery_images.all
  -if can? :image_gallery, :update
    = link_to 'Edit', edit_image_gallery_path(image_gallery)
  -if can? :image_gallery, :delete
    = link_to 'Destroy', image_gallery, method: :delete, data: { confirm: 'Are you sure?' }
  .clear