.main-content
  .heading
    %h1
      =t('imageGalleries')
  %p= 'Galerias estão disponíveis somente para atletas.' unless can_add_gallery?
  %ul.stations-list
    =render @image_galleries
    = will_paginate @image_galleries ,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  - if @user and can_add_gallery?
    = link_to t('newImageGallery'), new_user_image_gallery_path(@user), class: 'button'
.clear