.main-content
  .heading
    %h1
      =t('imageGalleries')
  %ul.stations-list
    =render @image_galleries
    = will_paginate @image_galleries ,:previous_label => '<<',:next_label => '>>', :inner_window => 1
.clear