---
http_interactions:
- request:
    method: post
    uri: http://forum.zonaradical.dev/admin/users/sync_sso/?api_key=d8c2f1d9eba226632736d65b73c3e04cf2a2903b49bc2a74091e2134639238f6&api_username=Zonov
    body:
      encoding: UTF-8
      string: sso=bmFtZT1BZG1pblVzZXImdXNlcm5hbWU9QWRtaW5Vc2VyJmVtYWlsPWFkbWlu%0AJTQwbWFpbC5jb20mZXh0ZXJuYWxfaWQ9MQ%3D%3D%0A&sig=bfa198f561111978644e1824c41a685e1b41f883212fb4fdeda9662a09a0479f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["l9rgrhlf5ky1bwzwltof","jlksrc7dmhv8y7urd4ry","sff1hcfmf6nwab4khep8","1619qvuyy5gk1gmcl7md","uvvfhh7q1cs0nsbmgg6j","4h5qtg5a0cxas4u2emuv","ehzpoqhlt2eeipr5hx7z","1v07e65wmja6wc29di8v","ak861umrx1mengcxr6fo","nz1jrv535gg7m34pa59r"]'
    body:
      encoding: UTF-8
      string: '{"id":2,"username":"Zonov","uploaded_avatar_id":null,"avatar_template":"/letter_avatar/zonov/{size}/3_6a1bbb3edd25692bdfeb4caeb55bb3c3.png","email":"nzonov@gmail.com","active":true,"admin":true,"moderator":false,"last_seen_at":"2015-06-12T22:33:02.251Z","last_emailed_at":null,"created_at":"2015-06-11T09:05:43.873Z","last_seen_age":"20m","last_emailed_age":null,"created_at_age":"1d","username_lower":"zonov","trust_level":4,"trust_level_locked":false,"flag_level":0,"title":null,"suspended_at":null,"suspended_till":null,"suspended":null,"blocked":false,"time_read":"<
        1m","days_visited":2,"posts_read_count":1,"topics_entered":1,"post_count":1,"associated_accounts":"No
        accounts associated","can_send_activation_email":true,"can_activate":false,"can_deactivate":false,"ip_address":null,"registration_ip_address":null,"can_grant_admin":false,"can_revoke_admin":false,"can_grant_moderation":true,"can_revoke_moderation":false,"can_impersonate":true,"like_count":0,"like_given_count":0,"topic_count":1,"flags_given_count":0,"flags_received_count":0,"private_topics_count":0,"can_delete_all_posts":false,"can_be_deleted":false,"can_be_anonymized":false,"suspend_reason":null,"primary_group_id":null,"badge_count":0,"warnings_received_count":0,"single_sign_on_record":{"user_id":2,"external_id":"1","last_payload":"name=AdminUser&username=AdminUser&email=admin%40mail.com&external_id=1","created_at":"2015-06-11T09:05:43.981Z","updated_at":"2015-06-12T22:53:00.436Z","external_username":"AdminUser","external_email":"admin@mail.com","external_name":"AdminUser","external_avatar_url":null},"approved_by":null,"suspended_by":null,"tl3_requirements":{"time_period":100,"requirements_met":false,"requirements_lost":true,"trust_level_locked":false,"on_grace_period":false,"days_visited":0,"min_days_visited":50,"num_topics_replied_to":0,"min_topics_replied_to":10,"topics_viewed":1,"min_topics_viewed":2,"posts_read":0,"min_posts_read":3,"topics_viewed_all_time":1,"min_topics_viewed_all_time":200,"posts_read_all_time":0,"min_posts_read_all_time":500,"num_flagged_posts":0,"max_flagged_posts":5,"num_flagged_by_users":0,"max_flagged_by_users":5,"num_likes_given":0,"min_likes_given":30,"num_likes_received":0,"min_likes_received":20,"num_likes_received_days":0,"min_likes_received_days":7,"num_likes_received_users":0,"min_likes_received_users":5},"groups":[{"id":10,"automatic":true,"name":"trust_level_0","user_count":10,"alias_level":0,"visible":true,"automatic_membership_email_domains":null,"automatic_membership_retroactive":false,"primary_group":false,"title":null}]}'
  recorded_at: Fri, 12 Jun 2015 22:53:00 GMT
[...]
