.slider-field
  .tip-slider
    -images.each do |image|
      .slide
        -if image.url.blank?
          =image_tag image.image_url(:slider).to_s
        -else
          =link_to image_tag(image.image_url(:slider).to_s), nil, {href: image.url}
        -unless image.description.blank?
          %p=image.description
        -unless image.name.blank?
          %span.tag
            = image.name
    Passa o mouse no texto para ver a descrição completa