.slider-field
  .tip-slider
    -images.each do |image|
      .slide
        -if image.url.blank?
          =image_tag image.image_url(:slider).to_s
        -else
          =link_to image_tag(image.image_url(:slider).to_s), nil, {href: image.url}, :target => '_blank'
        -unless image.description.blank?
          -if image.description.length < 110
            %p.noarr
              =image.description
          -else
            %p
              %span.arrow
              =image.description
        -unless image.name.blank?
          %span.tag
            = image.name
    / %p.help Passa o mouse no texto encima para ver ,elhor a descrição.
