---
http_interactions:
- request:
    method: post
    uri: http://forum.zonaradical.dev/admin/users/sync_sso/?api_key=d8c2f1d9eba226632736d65b73c3e04cf2a2903b49bc2a74091e2134639238f6&api_username=Zonov
    body:
      encoding: UTF-8
      string: sso=bmFtZT1UZXN0K3VzZXImdXNlcm5hbWU9VGVzdFVzZXImZW1haWw9bWFpbCU0%0AMG1haWwxMjMucnUmZXh0ZXJuYWxfaWQ9MTU0%0A&sig=d3afe3f781d1064da81dd01b0fa3d5d64b70794f1e13878ffcfdeb794138ed61
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["6tqjps7v8w06ybw2x8b","pw67r5nstj0cogo0v5xe","4wf3lyp3z7zr8f7ofbh","hp012yvr4ubpq0upkxwo","ci8386ym9gbktcvxjpu7","5e77wpry0tlxjavtd77t","o5pdmzlrltxl04f0jjnd","7lje4dgroprixd3k235n","x7svraq2s8tamw2o0eiu","4j09ohhn6jt1yxln7w0o"]'
    body:
      encoding: UTF-8
      string: '{"id":13,"username":"TestUser","uploaded_avatar_id":null,"avatar_template":"/letter_avatar/testuser/{size}/3_6a1bbb3edd25692bdfeb4caeb55bb3c3.png","active":true,"admin":false,"moderator":false,"last_seen_at":null,"last_emailed_at":null,"created_at":"2015-06-12T22:31:51.348Z","last_seen_age":null,"last_emailed_age":null,"created_at_age":"1d","username_lower":"testuser","trust_level":0,"trust_level_locked":false,"flag_level":0,"title":null,"suspended_at":null,"suspended_till":null,"suspended":null,"blocked":false,"time_read":"<
        1m","days_visited":0,"posts_read_count":0,"topics_entered":0,"post_count":0,"can_send_activation_email":true,"can_activate":false,"can_deactivate":true,"ip_address":null,"registration_ip_address":null,"can_grant_admin":true,"can_revoke_admin":false,"can_grant_moderation":true,"can_revoke_moderation":false,"can_impersonate":true,"like_count":0,"like_given_count":0,"topic_count":0,"flags_given_count":0,"flags_received_count":0,"private_topics_count":0,"can_delete_all_posts":true,"can_be_deleted":true,"can_be_anonymized":true,"suspend_reason":null,"primary_group_id":null,"badge_count":0,"warnings_received_count":0,"single_sign_on_record":{"user_id":13,"external_id":"154","last_payload":"name=Test+user&username=TestUser&email=mail%40mail123.ru&external_id=154","created_at":"2015-06-12T22:31:51.497Z","updated_at":"2015-06-13T22:49:38.519Z","external_username":"TestUser","external_email":"mail@mail123.ru","external_name":"Test
        user","external_avatar_url":null},"approved_by":null,"suspended_by":null,"groups":[{"id":10,"automatic":true,"name":"trust_level_0","user_count":11,"alias_level":0,"visible":true,"automatic_membership_email_domains":null,"automatic_membership_retroactive":false,"primary_group":false,"title":null}]}'
  recorded_at: Sat, 13 Jun 2015 22:49:38 GMT
[...]
