---
http_interactions:
- request:
    method: get
    uri: https://vimeo.com/api/v2/video/9168398.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3595'
      X-Ratelimit-Reset:
      - '1425665000'
      Content-Disposition:
      - attachment; filename=vimeo.json
      Last-Modified:
      - Fri, 06 Mar 2015 17:09:30 GMT
      Etag:
      - '"e41a3511961088dc5fb6bbb1f4cb5901"'
    body:
      encoding: UTF-8
      string: '[{"id":9168398,"title":"When Dogs Snowboard","description":"No description
        necessary.<br \/>\n<br \/>\nSong: \"See Spot\" by Midfall Drive. www.myspace.com\/midfalldrive","url":"https:\/\/vimeo.com\/9168398","upload_date":"2010-02-02
        18:50:41","mobile_url":"https:\/\/vimeo.com\/9168398","thumbnail_small":"https:\/\/i.vimeocdn.com\/video\/44706303_100x75.jpg","thumbnail_medium":"https:\/\/i.vimeocdn.com\/video\/44706303_200x150.jpg","thumbnail_large":"https:\/\/i.vimeocdn.com\/video\/44706303_640.jpg","user_id":2258424,"user_name":"Mountain
        High Resort","user_url":"https:\/\/vimeo.com\/mthigh","user_portrait_small":"https:\/\/i.vimeocdn.com\/portrait\/3004258_30x30.jpg","user_portrait_medium":"https:\/\/i.vimeocdn.com\/portrait\/3004258_75x75.jpg","user_portrait_large":"https:\/\/i.vimeocdn.com\/portrait\/3004258_100x100.jpg","user_portrait_huge":"https:\/\/i.vimeocdn.com\/portrait\/3004258_300x300.jpg","stats_number_of_likes":386,"stats_number_of_plays":209623,"stats_number_of_comments":21,"duration":128,"width":640,"height":360,"tags":"mountain
        high resort, wrightwood, ca, usa, snowboarding, dogs, alpine snow skiing","embed_privacy":"anywhere"}]'
  recorded_at: Fri, 06 Mar 2015 17:27:34 GMT
recorded_with: VCR 2.9.3
