.main-content
  -content_for :for_head do
    /* general METAS
    %title Agências de neve | Zona Radical
    %meta{:name => "description", :content =>  "A lista completa das melhores agências de viagem do Brasil que oferecem pacotes para montanhas de neve."}
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   "A lista completa das melhores agências de viagem do Brasil que oferecem pacotes para montanhas de neve."}
    %meta{:property=>"og:title", :content => "Agências de neve | Zona Radical" }
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "images/agencias.png"}
  .heading
    %h1
      Agências do Brasil
    .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}

  %p.search-intro
    Surprendetemente no Brasil tem várias agências que oferecem os pacotes de viagem para praticar snowboard e esqui.
    Não todas são grandes e/ou famosas. Confira essa lista das melhores agências de viagem que conhecemos aqui no ZR.

  .heading
  - @users.each do |agency|
    = render 'profile_agency', profile: agency
    .heading

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      /=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
      /* =render 'shared/aside/aside_resort_gallery'
    .clear