-content_for :for_head do
  %title Atetas brasileiros de Snowboard | Zona Radical
  %meta{:name => "description",
      :content => "A lista dos melhores atletas brasileiros de snowboard"}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos melhores atletas brasileiros de snowboard"}
  %meta{:property=>"og:title", :content => "ZAtetas brasileiros de Snowboard | Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/athletes.png"}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  .heading
    %h1= t('athletes')
    .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}

  .introtext
    Nesta página nós publicamos a lista dos melhores atletas brasileiros de snowboard. Os mais conhecidos, os mais bem sucedidos.

    Não é uma lista de atletas "oficias-profissionais", então não precisa de resolução de nenhum orgão oficial para aparecer aqui, e sim um bom nível de riding e participação nos eventos (inter)nacionais.
  .introtext
    Caso você conheça mais alguém merecendo um espaço no site, nos envie o nome e todas informações disponíveis.
  .heading

  - @users.each do |athlete|
    = render 'profile_athl', profile: athlete
    = will_paginate @users,:previous_label => '<<',:next_label => '>>', :inner_window => 1
    .heading
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear