-content_for :for_head do
  %title Zona Radical | Snowboard: como aprender, praticar e apreciar
  %meta{:name => "description",
      :content => "A lista dos melhores atletas brasileiros de snowboard"}
  /* facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos melhores atletas brasileiros de snowboard"}
  %meta{:property=>"og:title", :content => "Zona Radical | Snowboard: Atletas brasileiros"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/athletes.jpg"}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  .heading
    %h1= t('athletes')
    .fb-like{"data-href"=> request.original_url.to_s, "data-layout"=>"button", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true", :style => "float: right;"}

  .introtext
    Nessa pagina nos publicamos a lista dos melhores atletas brasileiros de snowboard. Os mais conhecidos, os mais bem sucedidos.
  .heading

  - @users.each do |athlete|
    = render 'profile_athl', profile: athlete
    .heading
%aside
  =render 'shared/aside/aside_social_buttons'
  =render 'shared/aside/aside_advert'
  =render 'shared/aside/aside_fb_like_box'
.clear