-content_for :for_head do
  /* general METAS
  %title All users of Zona Radical

.heading
  %h1 Agencies
-@agencies.each do |agency|
  = render 'profile_short', site_user: agency

.heading
  %h1 Orgs
-@orgs.each do |org|
  = render 'profile_short', site_user: org

.heading
  %h1 Athetes
-@athletes.each do |athlete|
  = render 'profile_short', site_user: athlete

.heading
  %h1 All others
-@users.each do |user|
  -if !user.athlete? and !user.org? and !user.agency?
    = render 'profile_short', site_user: user

