.main-content
  -content_for :for_head do
    /* general METAS
    %title Snowboard Videos | Zona Radical
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content => "Zona Radical Snowboard Videos"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/videos.png"}
    %meta{:property=> "og:description", :content=> "Acrescentamos no Zona Radical uma sessão de vídeos! Aprecie o que já deixamos para os fãs do snowboard. Conhece mais algum? Nos ajude a preencher a página!"}

  .heading
    %h1
      Snowboard Videos
      /* \:
      /* - unless VideoCategory.all.empty?
      /*  -VideoCategory.all.each do |video_category|
      /*    - if video_category.ancestry_depth==0
      /*      =link_to(video_category.name, main_app.video_category_path(video_category.id))
      /*      -if video_category !=VideoCategory.all.last
      /*        ,
  .clear


  %ul.stations-list
    %li
      Nos ajude a preencher a página!
      Conhece um vídeo irado?
      = mail_to('info@zonardical.com.br','Nos mande o link e adicionaremos!',:target=>"_newtab")
      .clear
    =render @videos
    /= will_paginate @videos,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    /* =render 'shared/aside/aside_video_category', :video_category => nil
    /* =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear