.main-content
  .heading
    %h1
      =t('videos')
      \:
      - unless videoCategory.all.empty?
        -videoCategory.all.each do |video_category|
          - if video_category.ancestry_depth==0
            =link_to(video_category.name, main_app.video_category_path(video_category.id))
            -if video_category !=videoCategory.all.last
              ,
  .clear

  %ul.stations-list
    =render @videos
    = will_paginate @videos,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_video_category', :video_category => nil
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear