%nav.admin
  %ul.menu
    %li= link_to t('newResort'), main_app.new_resort_path
    %li.submenu-item
      = link_to t('categoties'), main_app.resort_categories_path
      %ul.submenu
        %li= link_to t('newResortCategory'), main_app.new_resort_category_path