.heading
  %h2 Fique conectado
%ul.social-buttons
  %li
    %a.fb{:href => "#"}
  %li
    %a.yt{:href => "#"}
  %li
    %a.tw{:href => "#"}
  %li
    %a.gp{:href => "#"}
  %li
    %a.rss{:href => "#"}