<% if can?(:read, category) %>
  <div id='category_<%= category.id %>' class='category'>
    <div class='heading'>
        <h6> <%= link_to forem_emojify(category.name), [forem, category], :class => "forem_cat" %></h6>
    </div>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
