.main-content
  .heading
    %h1 Offers
  - if @tours.empty?
    Não existem tours oferecidas por agências.
  - else
    = render 'list', tour_path_method: "tour_path"
  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      /=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_resort_gallery'
    .clear