.main-content
  .heading
  -if can? TipCategory, :create
    = link_to 'New Tip category', new_tip_category_path
  .clear
  %ul.tip_category_list
    - @tip_categories.all.each do |tip_category|
      = render tip_category
.clear
