.heading
  %h2 Fique conectado
%ul.social-buttons
  %li
    %a.fb{:href => "https://www.facebook.com/zonaradicalbrasil", :target => "_blank"}
  %li
    %a.yt{:href => "http://instagram.com/zonaradicalbr", :target => "_blank"}
  %li
    %a.tw{:href => "https://twitter.com/ZonaRadicalBR", :target => "_blank"}
  %li
    %a.gp{:href => "#"}
  %li
    %a.rss{:href => "#"}