.heading
  %h5=t('resorts')
%ul.categories
  %li
    =link_to resorts_path, :rel => 'nofollow' do
      All ( #{Resort.all.size.to_s} )

  -if !resort_category.nil?
    %li
      =aside_resort_categories resort_category
    -ResortCategory.roots.each do |root_category|
      -if resort_category.root != root_category
        %li
          %span.active=link_to root_category.name, show_resort_category_path(root_category)
  -else
    -ResortCategory.roots.each do |root_category|
      %li
        =link_to root_category.name, show_resort_category_path(root_category)
