.advert-block
  .heading
    %h5 Eventos
  -if rand(10)<5
    = link_to image_tag("/images/advert-img1.jpg"), "https://www.facebook.com/events/1569941456595745/1582507542005803/", :target=> "blank"
  -else
    = link_to image_tag("/images/advert-img2.png"), "https://www.facebook.com/FreeRideToroMata", :target=> "blank"