.heading
  %h1 Lugares: Valle Nevado
  %a.all{:href => '#'} Tudo
%ul.places-list
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-1.jpg'}/
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-2.jpg'}/
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-3.jpg'}/
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-4.jpg'}/