%li.media_image_category
  .details
    %p.name
      = link_to media_image_category.name, media_image_category_path(media_image_category)
    %p= truncate( media_image_category.description, length: 200)
  .clear
  - if can? :media_image_category, :update, :destroy
    .control
      = link_to t('edit'), edit_media_image_category_path(media_image_category)
      = link_to 'Destroy', media_image_category, method: :delete, data: { confirm: 'Are you sure?' }