.main-content
  .heading
  -if can? MediaImageCategory, :create
    = link_to 'New Media category', new_media_image_category_path
  .clear
  %ul.media_image_category_list
    =nested_categories @media_image_categories.arrange
.clear