// File for admin interface

.admin-form {
  font-size: 22px;
  .field{
    width: 100%;
    margin-bottom: 10px;

    label{
      text-align: right;
      width: 200px;
      display: inline-block;
    }
  }
}

.admin-h1 {
  font-size: 25px;
  margin-bottom: 20px;
}