html {
  min-width: 100%;
}

body {
  font: normal normal 1rem / 2rem "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  /* Arial on Windows - http://mky.be/fontstack */
  color: #535353; /* 646464 */
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  max-width: 90%;
  position: relative;
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #fefefe 100%);
  /* W3C */
  &:after {
    content: '';
    display: block;
    height: 30%;
  }
}

nav {
  height: 4rem;
  background: #333333;
  /* position: relative; */
  ul {
    &.menu {
      margin: 0;
      list-style: none;
      > li {
        float: left;
        a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.4rem;
          display: block;
          height: 4rem;
          line-height: 4rem;
          padding: 0 1.1rem;
        }
        > a.active {
          cursor: default;
          background: #ee9200;
        }
      }
      li {
        a:hover {
          background: #ee9200;
        }
      }
      > li > a {
        span {
          color: #ee9200;
        }
        &.active span, &:hover span {
          color: #333;
        }
      }
    }
  }
}

