/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= reset
 *= require 'forem/base'
 *= require_tree .
 *= require_self
 */

/*	-------------------------------------------------
	Подключаем нестандартные шрифты | Custom fonts
	------------------------------------------------- */
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helveticaneue.eot');
    src: url('helveticaneue.eot') format('embedded-opentype'),
    url('helveticaneue.woff') format('woff'),
    url('helveticaneue.ttf') format('truetype'),
    url('helveticaneue.svg#HelveticaNeueRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('helvetica-neue-bold.eot');
    src: url('helvetica-neue-bold.eot') format('embedded-opentype'),
    url('helvetica-neue-bold.woff') format('woff'),
    url('helvetica-neue-bold.ttf') format('truetype'),
    url('helvetica-neue-bold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('helveticaneue-medium.eot');
    src: url('helveticaneue-medium.eot') format('embedded-opentype'),
    url('helveticaneue-medium.woff') format('woff'),
    url('helveticaneue-medium.ttf') format('truetype'),
    url('helveticaneue-medium.svg#HelveticaNeueMedium') format('svg');
}
@font-face {
    font-family: 'AeroMaticsStencilRegular';
    src: url('aero_matics_stencil_regular.eot');
    src: url('aero_matics_stencil_regular.eot') format('embedded-opentype'),
    url('aero_matics_stencil_regular.woff') format('woff'),
    url('aero_matics_stencil_regular.ttf') format('truetype'),
    url('aero_matics_stencil_regular.svg#AeroMaticsStencilRegular') format('svg');
}

/*	-------------------------------------------------
	Базовые стили сайта | Base site styles
	------------------------------------------------- */
html {
    min-width:1024px;
}
body {
    font:normal normal 13px/24px 'HelveticaNeueRegular', Arial, Helvetica, sans-serif; /* Arial on Windows - http://mky.be/fontstack */
    color:#646464;
    -webkit-text-size-adjust:100%;
    min-height:100%;
    min-width:1024px;
    position:relative;
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#fefefe 100%); /* W3C */
}
body:after {
    content:'';
    display:block;
    height:410px;
}

a { color:#fda418; text-decoration:underline; }
a:hover { text-decoration:none; }
a.ajax-link {
    text-decoration:none;
    border-bottom:1px dashed;
}

p { margin-bottom:15px; }
b { font-family:'HelveticaNeueBold', Arial, Helvetica, sans-serif;}
h1 {}
h2 {
    font:normal normal 17px/20px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
    color:#686868;
    text-transform:uppercase;
    display:inline-block;
    border-bottom:4px solid #f78e00;
    padding-bottom:6px;
}
h3 {}
h4 {}
h5 {}
h6 {}

input[type=text], input[type=password] {
}
textarea {
}
input[type=submit], input[type=button] {
}

::-webkit-input-placeholder {
    color:rgba(255,255,255,0.37);
}
::-moz-placeholder {
    color:rgba(255,255,255,0.37);
}
:-ms-input-placeholder {
    color:rgba(255,255,255,0.37);
}

/*	-------------------------------------------------
	Стили для печатной версии | Print styles
	------------------------------------------------- */
@media print {

}



/*	-------------------------------------------------
	Стили блоков, содержимого страниц | Other styles
	------------------------------------------------- */
.inner { /* Обертка страницы */
    width:1024px;
    margin:0 auto;
    position:relative;
}

header {
    position:relative;
    height:270px;
    background:url(/assets/board.png) no-repeat center bottom;
    margin-bottom:21px;
}
header .inner {
    padding-top:183px;
    height:87px;
}
header a.logo {
    font:normal normal 50px/55px 'AeroMaticsStencilRegular', Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    position:absolute;
    top:105px;
    left:0;
    text-shadow:1px 1px #9b6001;
}
header .enter-block {
    position:absolute;
    top:52px;
    right:48px;
}
header .enter-block  a {
    font-family:'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
header .enter-block .registered span {
    color:#626262;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
    padding-left:26px;
    background:url(/assets/enter-icon.png) no-repeat left center;
}
header .enter-block .registered span a {
    text-decoration:none;
}
header .enter-block .non-registered {
    color:#fda418;
}
header .enter-block .non-registered span.fb,
header .enter-block .non-registered span.tw {
    width:19px;
    height:19px;
    display:inline-block;
    background:url(/assets/social-icons-small.png) no-repeat 0 0;
    vertical-align:middle;
    margin:0 4px;
}
header .enter-block .non-registered span.tw {
    background-position:-27px 0;
}
header nav {
    height:58px;
    background:#333333;
    position:relative;
}
header ul.menu {
    margin:0;
    list-style:none;
}
header ul.menu > li {
    float:left;
}
header ul.menu > li  a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
    display:block;
    height:58px;
    line-height:58px;
    padding:0 18px;
}
header ul.menu > li > a.active {
    cursor:default;
    background:#ee9200;
}
header ul.menu li a:hover {
    background:#ee9200;
}
header ul.menu > li > a span {
    color:#ee9200;
}
header ul.menu > li > a.active span {
    color:#333;
}
header ul.menu > li > a:hover span {
    color:#333;
}
header ul.menu li.submenu-item > a {
    background:url(/assets/submenu-down.png) no-repeat 97% center;
}
header ul.menu li.submenu-item  > a:hover {
    background:url(/assets/submenu-down.png) no-repeat 97% center #ee9200;
}
header ul.menu li.submenu-item {
    position:relative;
}
header ul.submenu {
    margin:1px 0 0 0;
    list-style:none;
    background:#333;
    position:absolute;
    left:0;
    top:100%;
    z-index:1500;
    width:235px;
    display:none;
}
header ul.submenu > li > a {
    height:auto;
    line-height:20px;
    padding:12px 35px 12px 18px;
}
header ul.submenu li.subsubmenu-item {
    position:relative;
}
header ul.submenu li.subsubmenu-item > a {
    background:url(/assets/submenu-right.png) no-repeat 87% center;
}
header ul.submenu li.subsubmenu-item  > a:hover {
    background:url(/assets/submenu-right.png) no-repeat 87% center #ee9200;
}
header ul.subsubmenu {
    margin:0 0 0 1px;
    list-style:none;
    background:#333;
    position:absolute;
    left:100%;
    top:0;
    z-index:1500;
    width:235px;
    display:none;
}
header ul.subsubmenu li a {
    height:auto;
    line-height:20px;
    padding:12px 35px 12px 18px;
}
ul.menu li.submenu-item:hover ul.submenu {
    display:block;
}
ul.menu li.submenu-item:hover > a {
    background:#ee9200;
}
ul.menu li.subsubmenu-item:hover ul.subsubmenu {
    display:block;
}
ul.menu li.subsubmenu-item:hover > a {
    background:#ee9200;
}

header .search-field {
    position:absolute;
    width:220px;
    height:42px;
    right:7px;
    top:8px;
}
header .search-field input {
    width:175px;
    height:18px;
    background:#575757;
    border:0;
    padding:12px 35px 12px 10px;
    font:normal normal 15px/18px 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;
    color:#fff;
}
header .search-field a {
    display:block;
    width:15px;
    height:15px;
    background:url(/assets/search-icon.png) no-repeat;
    position:absolute;
    right:8px;
    top:14px;
}


section.top-section {
    width:1024px;
    margin:0 auto;
    position:relative;
    margin-bottom:37px;
}
.slider-field {
    width:635px;
    height:372px;
    position:relative;
    float:left;
}
span.tag {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:115px;
    height:33px;
    color:#fff;
    background:#ee9200;
    text-align:center;
    font:normal normal 15px/33px 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
    z-index:1000;
}
.index-slider .slide p {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:15px 20px 10px 12px;
    color:#fff;
    font-size:13px;
    line-height:24px;
    margin-bottom:0;
    background:rgba(0,0,0,0.6);
}
.index-slider .slide p b {
    font-size:16px;
    line-height:24px;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
    display:block;
}
.index-slider .slide img {
    width:635px;
    height:372px;
    display:block;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-loading .slick-list {
    background: white url(/assets/ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 37px;
    width: 36px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0.45);
    color: transparent;
    top: 50%;
    margin-top: -19px;
    padding: 0;
    border: none;
    outline: none;
    background-image:url(/assets/index-slider-arrows.png);
    background-repeat:no-repeat;
}
.slick-prev:hover,
.slick-next:hover {
    background-color:#ee9200;
}
.slick-prev:focus,
.slick-next:focus {
    outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}
.slick-prev {
    left:0;
    background-position:0 0;
}
.slick-next {
    right:0;
    background-position:-36px 0;
}

.gallery-field {
    width:368px;
    float:right;
}
.gallery-field-large {
    width:368px;
    height:218px;
    position:relative;
    margin-bottom:20px;
}
.gallery-field-large img {
    display:block;
    width:368px;
    height:218px;
}
.gallery-field p {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:15px 20px 19px 8px;
    color:#fff;
    font-size:13px;
    line-height:24px;
    margin-bottom:0;
    background:rgba(0,0,0,0.6);
}
.gallery-field p b {
    font-size:16px;
    line-height:24px;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
    display:block;
}
.gallery-field-small {
    float:left;
    width:174px;
    height:133px;
    position:relative;
}
.gallery-field-small.right {
    float:right;
}
.gallery-field-small img {
    width:174px;
    height:133px;
    display:block;
}
.gallery-field .gallery-field-small p {
    padding:3px 8px 3px 12px;
}
.content {
    width:1024px;
    margin:0 auto;
    position:relative;
}
.main-content {
    width:701px;
    float:left;
    margin-bottom:20px;
}
.news-slider {
    margin-bottom:43px;
    margin-top:-10px;
}
.news-slider .news-item {
    border-top:1px solid #dbdbdb;
    padding:9px 0 0;
}
.news-slider .slide:first-child .news-item {
    border-top:1px solid transparent;
}
.news-slider .slide.no-border .news-item {
    border-top:1px solid transparent;
}
.news-slider .news-item a.img-wrap {
    display:block;
    float:left;
    width:127px;
    height:86px;
}
.news-slider .news-item img {
    display:block;
    width:127px;
    height:86px;
}
.news-slider .news-item .details {
    margin:0 0 0 144px;
}
.news-slider .news-item a.date {
    text-decoration:none;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
.news-slider .news-item p {
    margin-bottom:2px;
    margin-top:-5px;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
.news-slider .slick-prev,
.news-slider .slick-next {
    height: 19px;
    width: 19px;
    top:-25px;
    background-image:url(/assets/news-slider-arrows.png);
}
.news-slider .slick-next {
    background-position:-19px 0;
    right:0;
}
.news-slider .slick-prev {
    right:20px;
    left:auto;
}
ul.item-list {
    margin:0 0 40px;
    list-style:none;
}
ul.item-list li {
    margin-bottom:20px;
    padding-bottom:11px;
    border-bottom:1px solid #dbdbdb;
}
ul.item-list li:last-child {
    border-bottom:0;
}
ul.item-list li a.img-wrap {
    display:block;
    width:286px;
    height:162px;
    float:left;
    margin-bottom:10px;
}
ul.item-list li img {
    width:286px;
    height:162px;
    display:block;
}
ul.item-list li .details {
    margin-left:304px;
}
ul.item-list li a.title {
    font:normal normal 15px/1 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
    display:inline-block;
    margin:14px 0 30px;
    text-decoration:none;
    color:#686868;
}
ul.item-list li p {
    margin-bottom:10px;
    font-family:'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}

aside {
    width:303px;
    float:right;
    margin-bottom:20px;
}
.heading {
    position:relative;
    margin-bottom:18px;
    border-bottom:1px solid #ee9200;
}
.heading a.all {
    text-decoration:none;
    float:right;
    font-size:12px;
    line-height:26px;
}
aside ul.social-buttons {
    margin:0 0 48px -2px;
    list-style:none;
    height:59px;
}
aside ul.social-buttons li {
    float:left;
    margin-left:2px;
}
aside ul.social-buttons li a {
    width:59px;
    height:59px;
    display:block;
    background:url(/assets/social-icons.png) no-repeat;
}
aside ul.social-buttons li a.fb {
    background-position:0 0;
}
aside ul.social-buttons li a.yt {
    background-position:-61px 0;
}
aside ul.social-buttons li a.tw {
    background-position:-122px 0;
}
aside ul.social-buttons li a.gp {
    background-position:-183px 0;
}
aside ul.social-buttons li a.rss {
    background-position:-244px 0;
}
aside ul.places-list {
    margin:0 0 39px -14px;
    list-style:none;
    overflow:hidden;
}
aside ul.places-list li {
    float:left;
    margin:0 0 11px 14px;
}
aside ul.places-list li img {
    width:144px;
    height:144px;
    display:block;
}
aside ul.places-list li a {
    display:block;
    width:100%;
    height:100%;
}
aside .fb-block {
    width:303px;
    margin-bottom:40px;
}
aside .fb-block img {
    width:303px;
}
aside .advert-block {
    width:303px;
    margin-bottom:40px;
}
aside .advert-block img {
    width:301px;
    border:1px solid #aaa;
    display:block;
}
a.to-top {
    display:block;
    width:59px;
    height:63px;
    background:url(/assets/to-top-button.png) no-repeat;
    position:absolute;
    top:-120px;
    left:10px;
}

/* Styles for Galera.html */

ul.galera-list {
    margin:0;
    list-style:none;
}
ul.galera-list li {
    margin-bottom:27px;
}
ul.galera-list li a.img-wrap {
    width:141px;
    height:141px;
    float:left;
    display:block;
    margin-right:16px;
}
img.userpic {
    width:139px;
    height:139px;
    display:block;
    border:1px solid #c5c4c4;
}
ul.galera-list li .details {
    float:left;
    width:540px;
}
ul.galera-list a.name {
    font:normal normal 18px/20px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
    color:#646464;
    text-transform:uppercase;
    text-decoration:none;
    display:inline-block;
    margin-top:-2px;
}
ul.galera-list p {
    color:#646464;
}

/* Styles for profile.html */

.profile-card {
    position:relative;
    margin-bottom:200px;
    padding-top:3px;
}
.profile-card .leftcol {
    width:141px;
    float:left;
    margin-right:16px;
}
.profile-card .userpic {
    margin-bottom:20px;
}
.profile-card .reputation {
    margin-bottom:10px;
}
ul.stars {
    margin:0;
    list-style:none;
    height:17px;
}
ul.stars li {
    float:left;
    background:url(/assets/stars.png) no-repeat;
    height:17px;
    width:17px;
}
ul.stars li.full {
    background-position:0 0;
}
ul.stars li.empty {
    background-position:-17px 0;
}

.profile-card .rightcol {
    width:540px;
    float:left;
}
.profile-card .title {

}
.profile-card .title .name {
    text-transform:uppercase;
    font:normal normal 18px/20px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
    color:#646464;
    margin-right:10px;
}
.profile-card .title .online {
    display:inline-block;
    height:21px;
    padding:0 3px;
    background:#2ba106;
    color:#fff;
    line-height:21px;
    text-transform:uppercase;
    margin-right:10px;
}
.profile-card .title .activity {
    color:#646464;
}
ul.details-list {
    margin:0;
    list-style:none;
}
ul.details-list li b {
    margin-right:5px;
}
ul.details-list li.contacts b {
    display:inline-block;
    vertical-align:top;
}
ul.details-list .contacts-list {
    display:inline-block;
    vertical-align:top;
}
ul.details-list .contacts-list span {
    display:block;
    padding-left:25px;
}
ul.details-list .contacts-list span.email {
    background:url(/assets/email-icon.png) no-repeat left center;
}
ul.details-list .contacts-list span.web {
    background:url(/assets/web-icon.png) no-repeat left center;
}
ul.details-list .contacts-list span.fb {
    background:url(/assets/fb-icon.png) no-repeat 5px center;
}
.profile-card p.bio {
    margin-bottom:24px;
}
.buttons {
    margin-bottom:20px;
}
.button {
    display:block;
    width:171px;
    height:32px;
    text-decoration:none;
    color:#fff;
    text-align:center;
    line-height:32px;
    background:#ee9200;
}
.buttons .button {
    float:left;
    margin-right:27px;
}
.buttons.right {
    position:absolute;
    right:0;
    top:20px;
    text-align:right;
}
.buttons.right .button {
    margin:0 0 26px;
    float:none;
    width:auto;
    padding:0 7px;
    display:inline-block;
}






@media only screen and (min-width: 1360px) {
    a.to-top {
        left:50%;
        margin-left:-670px;
    }
}
@media only screen and (max-width: 1184px) {
    a.to-top {
        display:none;
    }
}
footer {
    height:406px;
    position:absolute;
    bottom:0;
    width:100%;
    min-width:1024px;
    background:#fff;
    background:url(/assets/footer-bg.png) repeat-x center top #f0f0f0;
    border-bottom:4px solid #ee9200;
}
footer .inner {
    height:406px;
}
ul.footer-cols {
    margin:0 0 0 -20px;
    list-style:none;
    padding-top:45px;
    overflow:hidden;
}
ul.footer-cols > li {
    width:236px;
    margin-left:20px;
    float:left;
}
ul.footer-cols > li:first-child,
ul.footer-cols > li:last-child {
    width:246px;
}
footer ul.tweet-list {
    margin:0;
    list-style:none;
}
footer ul.tweet-list li {
    margin-bottom:15px;
    font:normal normal 12px/18px Georgia, Arial, Helvetica, sans-serif;
    color:#6c6c6c;
}
footer ul.tweet-list li .author {
    text-decoration:none;
    color:#00a4d2;
}
footer ul.tweet-list li .date {
    font:normal normal 10px/18px Arial, Helvetica, sans-serif;
    color:#010101;
    border-bottom:1px dashed #a0a0a0;
    text-decoration:none;
}
ul.footer-menu {
    margin:0;
    list-style:none;
}
ul.footer-menu li {
    margin-bottom:10px;
}
ul.footer-menu li a {
    font:normal normal 15px/18px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
    color:#686868;
    text-decoration:none;
    padding-left:30px;
    text-transform:uppercase;
    background:url(/assets/footer-menu.png) no-repeat left center;
}
footer ul.flickr-list {
    margin:0;
    list-style:none;
}
footer ul.flickr-list li {
    float:left;
    border:2px solid #999;
    margin:0 8px 8px 0;
}
footer ul.flickr-list li img {
    width:60px;
    height:60px;
    display:block;
}
footer ul.flickr-list li a {
    width:60px;
    height:60px;
    display:block;
}
footer p.about {
    font-size:13px;
    color:#878686;
    line-height:24px;
}
footer .copyright {
    position:absolute;
    right:0;
    bottom:0;
    width:237px;
    height:40px;
    color:#fff;
    padding-left:10px;
    line-height:44px;
    background:#ee9200;
}