.forum .title {
  font-size: 15px;
}

.forum a.forem_cat{
  font-style: italic
}

.forums thead th {
  background: #dddddd;
  color: white;
  padding: 0px;
  font-size: 110%;
  width: 100px;
}

.forums thead th.desc-and-last-post {
  background: white;
  color: #dddddd;
  width: 800px;
  align: left;
}
.forums td.topics-count {
  text-align: center;
}
.forums td.posts-count {
  text-align: center;
}
.forums td.views-count {
  text-align: center;
}

.forums .title {
  font:normal normal 19px/21px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}

.forums .last_post {
  font-style: italic;
  font-size: 75%;

  time {
    color: #aaa;
    font-size: 100%;
  }
}

#forum #forum_topic_links {
  margin-bottom: 10px;
}

.heading-cat {
  position: relative;
  border-bottom: 1px solid #ee9200;
}