.forum .title {
  font-size: 15px;
}

.forum a.forem_cat{
  font-style: italic
}

.forums thead th {
  background: #dddddd;
  color: white;
  padding: 0px;
  font-size: 110%;
  width: 400px;
  align: right;
}
.forums .title {
  font:normal normal 19px/21px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}

.forums .last_post {
  font-style: italic;
  font-size: 75%;

  time {
    color: #aaa;
    font-size: 100%;
  }
}

#forum #forum_topic_links {
  margin-bottom: 10px;
}