// Place all the styles related to the Resorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
*=  require sliders/slick
*/

.slider-field {
  width: 701px;
  height: 410px;
  position: relative;
  float: left;
}

.tip-slider {
  p.help {
    color: #fff;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}

.tip-slider .slide {
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px 20px 10px 12px;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    max-height: 45px;

    -webkit-transition: background 1s, max-height 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s, max-height 1s;
    span.arrow {
      display:block;
      width: 11px;
      height: 6px;
      top: -6px;
      left:313px;
      position:relative;
      background: center top no-repeat image_url('slider-vertical-arrows.png');
    }
    &:hover span.arrow {
      //background: center bottom no-repeat image_url('slider-vertical-arrows.png');
      background: none;
    }

    b {
      font-size: 16px;
      line-height: 24px;
      font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
      display: block;
    }
    &:hover {
      max-height: 315px;
      background: rgba(0, 0, 0, 0.8);
    }
  }



}


