.topics thead th {
  background: #dddddd;
  color: white;
  padding: 3px;
  font-size: 110%;
  width: 140px;
  text-align: center;
}
.topic td.byline {
  padding: 10px;
  width: 600px;
}
.topic td.latest-post {
  width: 340px;
  text-align: center;
}
.topic td.posts-count {
  text-align: center;
}
.topic td.views-count {
  text-align: center;
}
.topic .subject {
  font:normal normal 19px/21px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}

.new_topic textarea {
  width: 50%;
  min-height: 250px;
}

#topic #menu {
  margin-bottom: 10px;
}