<section class="content">
  <p>Bem vindo <%= @resource.email %>!</p>

  <p>Alguem solicitou mudar a sua senha. Por favor use o link abaixo para fazer isso</p>

  <p><%= link_to 'Mudar a senha', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>Se nao foi voce quem solicitou isso, por favor ignora este email.</p>
  <p>A sua senha nao ficara alterada ate que voce acesse o link acima e escolha a nova senha.</p>

  <p> -------------------------------------------------------------------- </p>

  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
</section>