---
http_interactions:
- request:
    method: post
    uri: http://forum.zonaradical.dev/admin/users/sync_sso/?api_key=d8c2f1d9eba226632736d65b73c3e04cf2a2903b49bc2a74091e2134639238f6&api_username=Zonov
    body:
      encoding: UTF-8
      string: sso=bmFtZT1UZXN0K3VzZXImdXNlcm5hbWU9VGVzdFVzZXImZW1haWw9bWFpbCU0%0AMG1haWwxMjMucnUmZXh0ZXJuYWxfaWQ9MjYx%0A&sig=f7d4db5944f86ea5da10247b4e6c0aa0e91fd64ea8f8e6148491997fb4cddb0b
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["lbesyt5idadam3r3vaq4","rb1jaljs56tte08mxkhw","ljg5zaac3xma6k0kglc5","yeawl3w9l2azhekmprtg","y616kaarzxgjuz7vwet9","43ndp3q8o59kpje96eeb","4w24r2rp2anovh3v13do","tn3xu33y94ms2l0510te","8nc61b9eb4bpl1p82hcc","4ehl3zjjb263whz0qt9n"]'
    body:
      encoding: UTF-8
      string: '{"id":13,"username":"TestUser","uploaded_avatar_id":null,"avatar_template":"/letter_avatar/testuser/{size}/3_6a1bbb3edd25692bdfeb4caeb55bb3c3.png","active":true,"admin":false,"moderator":false,"last_seen_at":null,"last_emailed_at":null,"created_at":"2015-06-12T22:31:51.348Z","last_seen_age":null,"last_emailed_age":null,"created_at_age":"3m","username_lower":"testuser","trust_level":0,"trust_level_locked":false,"flag_level":0,"title":null,"suspended_at":null,"suspended_till":null,"suspended":null,"blocked":false,"time_read":"<
        1m","days_visited":0,"posts_read_count":0,"topics_entered":0,"post_count":0,"can_send_activation_email":true,"can_activate":false,"can_deactivate":true,"ip_address":null,"registration_ip_address":null,"can_grant_admin":true,"can_revoke_admin":false,"can_grant_moderation":true,"can_revoke_moderation":false,"can_impersonate":true,"like_count":0,"like_given_count":0,"topic_count":0,"flags_given_count":0,"flags_received_count":0,"private_topics_count":0,"can_delete_all_posts":true,"can_be_deleted":true,"can_be_anonymized":true,"suspend_reason":null,"primary_group_id":null,"badge_count":0,"warnings_received_count":0,"single_sign_on_record":{"user_id":13,"external_id":"261","last_payload":"name=Test+user&username=TestUser&email=mail%40mail123.ru&external_id=261","created_at":"2015-06-12T22:31:51.497Z","updated_at":"2015-06-12T22:34:55.862Z","external_username":"TestUser","external_email":"mail@mail123.ru","external_name":"Test
        user","external_avatar_url":null},"approved_by":null,"suspended_by":null,"groups":[{"id":10,"automatic":true,"name":"trust_level_0","user_count":10,"alias_level":0,"visible":true,"automatic_membership_email_domains":null,"automatic_membership_retroactive":false,"primary_group":false,"title":null}]}'
  recorded_at: Fri, 12 Jun 2015 22:34:55 GMT
[...]
