%li
  =link_to image_tag(resort.image_url(:thumb).to_s), resort_path(resort), :class => 'img-wrap'
  .details
    %p.name=link_to resort.name, resort_path(resort)
    %a.pics-amount 0
    %p= truncate( resort.level1_description, length: 200)
    =link_to t('ReadMore'), resort_path(resort)
  -if can? :resort, :update
    = link_to 'Edit', edit_resort_path(resort)
  .clear