.main-content
  .heading
  - if can? :resort, :new
    = link_to 'New Resort', new_resort_path
  .clear
  %ul.stations-list
    =render @resorts
    = will_paginate @resorts,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => nil
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear