.main-content
  -content_for :for_head do
    /* general METAS
    %title Todas Estações de Snowboard | Zona Radical
    %meta{:name => "description", :content =>  "As estações de snowboard de mundo inteiro: descrições, opinões, informações."}
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  "Todas Estações de Snowboard | Zona Radical"}
    %meta{:property=>"og:description", :content =>  "As estações de snowboard de mundo inteiro: descrições, opinões, informações."}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    /* @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    /* schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h2
      =t('resorts')
      \:
      - unless ResortCategory.all.empty?
        -ResortCategory.all.each do |resort_category|
          - if resort_category.ancestry_depth==0
            =link_to(resort_category.name, main_app.resort_category_path(resort_category.id))
            - if resort_category!=ResortCategory.all.last
              ,
  .clear
  %ul.stations-list
    =render @resorts
    = will_paginate @resorts,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => nil
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear