.main-content
  .heading
    %h2
      =t('resorts')
      \:
      - unless ResortCategory.all.empty?
        -ResortCategory.all.each do |resort_category|
          - if resort_category.ancestry_depth==0
            =link_to(resort_category.name, main_app.tip_category_path(resort_category.id))
            ,
  .clear
  %ul.stations-list
    =render @resorts
    = will_paginate @resorts,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => nil
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear