.main-content
  -content_for :for_head do
    /* general METAS
    %title As Dicas de Snowboard | Zona Radical
    %meta{:name=>"robots", :content=>"noindex, nofollow"}
    %meta{:name => "description", :content =>  "As dicas sobre snowboard: como viajar, aprender, comprar equipamento."}
    /* facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  "As Dicas de Snowboard | Zona Radical"}
    %meta{:property=>"og:description", :content =>  "As dicas sobre snowboard: como viajar, aprender, comprar equipamento."}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    /* @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    /* schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      =t('tips')
      \:
      - unless TipCategory.all.empty?
        -TipCategory.all.each do |tip_category|
          - if tip_category.ancestry_depth==0
            =link_to(tip_category.name, main_app.tip_category_path(tip_category.id))
            -if tip_category !=TipCategory.all.last
              ,
  .clear

  %ul.stations-list
    =render @tips
    = will_paginate @tips,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => nil
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_resort_gallery'
  .clear