<footer>
  <a href="#" class="to-top"></a>
  <div class="inner">
    <ul class="footer-cols">
      <li>
        <div class="heading"><h2>Tweets</h2></div>
        <ul class="tweet-list">
          <li><a href="#" class="author">@jayhafling</a> É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica.  <a href="#" class="date">2014/05/22</a></li>
          <li><a href="#" class="author">@jayhafling</a> É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica.  <a href="#" class="date">2014/05/22</a></li>
        </ul>
      </li>
      <li>
        <div class="heading"><h2>navegação</h2></div>
        <nav>
          <ul class="footer-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">Estações</a></li>
            <li><a href="#">DICAS</a></li>
            <li><a href="#">trips</a></li>
            <li><a href="#">VAMO JUNTO</a></li>
            <li><a href="#">forum</a></li>
            <li><a href="#">galera zr</a></li>
          </ul>
        </nav>
      </li>
      <li>
        <div class="heading"><h2>flickr</h2></div>
        <ul class="flickr-list">
          <li><a href="#"><img src="images/flickr-1.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-2.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-3.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-4.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-5.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-6.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-7.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/flickr-8.jpg" alt="" /></a></li>
        </ul>
      </li>
      <li>
        <div class="heading"><h2>Sobre</h2></div>
        <p class="about">Todos os geradores de Lorem Ipsum na Internet acabam por repetir porções de texto pré-definido, como necessário, fazendo com que este seja o primeiro verdadeiro gerador na Internet. Usa um dicionário de 200 palavras em Latim, combinado com uma dúzia de modelos de frases.</p>
      </li>
    </ul><!-- end footer-cols -->
    <div class="copyright">Copyright 2014. All Rights Reserved</div>
  </div>
</footer>