%footer#mainApplication
  .inner
    %ul.footer-cols
      %li
        .heading
          %h2 Tweets
        %ul.tweet-list
          %a.twitter-timeline{"data-chrome" => "nofooter transparent noheader", "data-dnt" => "true", "data-widget-id" => "503293754615148544", :height => "236", :href => "https://twitter.com/ZonaRadicalBR"} Tweets by @ZonaRadicalBR
          %script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %li
        .heading
          %h2 Instagram
        %ul.flickr-list
          /
            SnapWidget 3*3
            <iframe src="http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnw2NXwzfDN8fHllc3w0fGZhZGVJbnxvblN0YXJ0fHllc3xubw==&ve=230814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:237px; height:237px"></iframe>
          / SnapWidget 2*2
          %iframe.snapwidget-widget{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnwxMDN8MnwyfHx5ZXN8NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=230814", :style => "border:none; overflow:hidden; width:236px; height:236px", :title => "Instagram Widget"}
      %li
        .heading
          %h2 navegação
        %nav
          %ul.footer-menu
            %li= link_to t('Home'), main_app.root_path
            %li
              %a{:href => "http://zonaradical.com.br/resorts"} =t('resorts')
            %li
              %a{:href => "http://zonaradical.com.br/dicas"} =t('tips')
            %li
              %a{:href => "http://zonaradical.com.br/vamo-junto.html"} VAMO JUNTO
            %li= link_to t('forum'), main_app.forem_path
            %li
              %a{:href => "http://zonaradical.com.br/galera.html"} Galera ZR
      %li
        .heading
          %h2 Sobre a zr
        %p.about
          A ideia deste site nasceu nas pistas de chile onde se econtraram um brasileiro, que foi virar snowbordista
          e um russo, que virou um brasileiro. A eles juntaram os profissionais tanto de parte visual
          e de programacao, quanto na parte de divulgacao e journalismo para realizar este projeto.
    / end footer-cols
    .copyright Copyright 2014. All Rights Reserved