%header
  .inner
    = link_to image_tag('logo.png'), main_app.root_path, class: :logo
    -if mobile_device?
      =link_to t('fullVersion'), :mobile => 0
    -else
      =link_to t('mobileVersion'), :mobile => 1
    %nav
      =render 'shared/menu/top_menu_mobile'
